<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votes Data</title>
</head>
<body>
    <h2>Common Cluj '23 Voting Data</h2>
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Initiative Name</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row['Group Name'] }}</td>
                    <td>{{ row['Initiative Name'] }}</td>
                    <td>{{ row['Votes'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5>To download the Excel file, click <a href="https://common-voturi.onrender.com/?download=true">here.</a></h5>
</body>
</html>
