<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votes Data</title>
</head>
<body>
    <h2>Voting Data</h2>
    <h3>To download the Excel file, click <a href="http://localhost:5000/get_votes?download=true">here</a></h3>
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Initiative Name</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row['Group Name'] }}</td>
                    <td>{{ row['Initiative Name'] }}</td>
                    <td>{{ row['Votes'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
